/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-a51c3b84-c6boblwt
 *                                 	 
 ******************************************************************************************************/
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .preview-title  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .preview-body h1  { 
						font-family: Montserrat;
						font-size: 13px;
						color: rgb(255, 255, 255);
						letter-spacing: 0em;
						line-height: 1.3em;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt.master.item-box   {
		
						padding-left: 0%;
						padding-right: 0%;
						width: 100%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt  .preview-content-holder  {
		
						text-align: center;
						max-width: 250px;
						margin-right: 0px;
						margin-top: 15px;
						margin-left: 0px;
						margin-bottom: 5px;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .preview-item-links span  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 12px;
						color: rgb(255, 255, 255);
						padding-bottom: 5px;
						border-color: rgb(255, 255, 255);
						padding-right: 10px;
						margin-top: 15px;
						padding-left: 10px;
						padding-top: 5px;
						margin-bottom: 5px;
						border-width: 1px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .preview-item-links span:hover  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt.item-box > .item-wrapper   {
		
						max-width: 1000px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .item-content:not(.blocks_layout)  {
		
						background-color: transparent;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .preview-element.icon-source  {
		
						width: 50px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .inner-pic  {
		
						opacity: 0.8;
		    			-webkit-filter: grayscale(100%) brightness(0.6);
						background-size: cover;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt #pagination-holder  {
		
						border-width: 1px;
						font-size: 18px;
						color: rgb(131, 131, 131);
						padding-bottom: 10px;
						border-color: rgb(131, 131, 131);
						padding-right: 20px;
						margin-top: 30px;
						padding-left: 20px;
						padding-top: 10px;
						margin-bottom: 50px;
						font-family: Times New Roman;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .preview-body  {
		
						line-height: 1.4em;
						font-size: 12px;
						color: rgb(255, 255, 255);
						margin-top: 5px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .preview-price  {
		
						color: rgb(255, 255, 255);
						font-family: Arial;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .preview-subtitle  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .preview-body h2  { 
						line-height: 1.4em;
						font-size: 13px;
						color: rgb(255, 255, 255);
						letter-spacing: 0.1em;
						margin-right: 0px;
						margin-left: 0px;
						font-family: Arial;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .stripe-background  {
		
						margin-left: 0%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .pic-side:after  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .item-effect-tester  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .sub.item-box:after  { 
						background-color: rgb(241, 142, 67);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-c6boblwt .background-div  {
			
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-a51c3b84-1wgehpqh
 *                                 	 
 ******************************************************************************************************/
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .title-holder  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .preview.image-cover  {
		
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .Title  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .Body h1  { 
						color: #8a7373;
						letter-spacing: 0.15em;
						font-family: open-sans;
						font-size: 36px;
						font-weight: bold;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh  .preview-content-holder  {
		
						text-align: center;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						margin-bottom: 10px;
						background-color: rgba(255, 255, 255, 0);
						border-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .inner-pic  {
		
						opacity: 1;
						color: rgb(255, 255, 255);
		    			-webkit-filter:none;filter:none;
						background-size: contain;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh #pagination-holder  {
		
						font-style: italic;
						font-size: 17px;
						color: rgb(76, 76, 76);
						padding-bottom: 5px;
						border-color: rgb(85, 85, 85);
						border-width: 1px;
						padding-right: 15px;
						padding-left: 15px;
						padding-top: 5px;
						margin-bottom: 40px;
						font-family: 'Times New Roman';	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .background-div  {
		
						background-size: contain;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .preview-title  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .preview-body h1  { 
						line-height: 1.2em;
						font-size: 13px;
						color: rgb(202, 202, 202);
						letter-spacing: -0.0em;
						margin-top: 10px;
						font-family: Montserrat;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh.master.item-box   {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .preview-item-links span  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh #sr-basket-widget *  { 
						border-width: 1px;
						font-size: 12px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						border-color: rgb(0, 0, 0);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 15px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 30px;
						font-family: Arial;
						background-color: rgba(15, 43, 67, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .stripe-background  {
		
						opacity: 0.09;
						margin-left: -6%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						margin-bottom: 20px;
						width: 40px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .background-image-div  {
		
						color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .Subtitle  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .Body h2  { 
						font-family: ralewaythin;
						font-size: 22px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh.item-box > .item-wrapper   {
		
						max-width: 1000px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .preview-item-links span:hover  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .subtitle-holder  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .preview-body  {
		
						font-family: Arial;
						font-size: 12px;
						color: rgb(140, 140, 140);
						max-width: 500px;
						margin-top: 15px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}
	
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .pic-side:after  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .item-effect-tester  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .sub.item-box:after  { 
						background-color: rgb(241, 142, 67);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .preview-subtitle  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-1wgehpqh .preview-body h2  { 
						line-height: 1.4em;
						font-size: 10px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.05em;
						margin-right: 0px;
						margin-left: 0px;
						font-family: Arial;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-7cb1796e-zau6rqxu
 *                                 	 
 ******************************************************************************************************/
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .title-holder  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .Title  ,  .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .Body h1  { 
						color: #8a7373;
						font-size: 36px;
						font-family: open-sans;
						letter-spacing: 0.15em;
						font-weight: bold;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 300px;
						padding-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 0px;
						border-color: rgb(60, 60, 60);
						padding-left: 0px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-divider  {
		
						margin-bottom: 5px;
						border-color: rgb(255, 255, 255);
						margin-top: 5px;
						width: 10%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .inner-pic  {
		
						color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu #pagination-holder  {
		
						font-style: italic;
						font-size: 17px;
						font-family: 'Times New Roman';
						color: rgb(76, 76, 76);
						padding-bottom: 5px;
						border-color: rgb(85, 85, 85);
						padding-right: 15px;
						padding-left: 15px;
						padding-top: 5px;
						margin-bottom: 40px;
						border-width: 1px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .background-div  {
			
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-title  ,  .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-body h1  { 
						font-family: Montserrat;
						font-size: 14px;
						text-transform: uppercase;
						color: rgb(202, 202, 202);
						letter-spacing: 0.05em;
						margin-top: 10px;
						line-height: 1.2em;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu.master.item-box   {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-item-links span  ,  .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 12px;
						color: rgb(99, 99, 99);
						padding-bottom: 10px;
						border-color: rgb(122, 122, 122);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 15px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 30px;
						border-width: 1px;
						background-color: rgba(15, 43, 67, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .blocks-preview-body  {
		
						margin-bottom: 10px;
						line-height: 1.5em;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .stripe-background  {
		
						margin-left: -6%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						padding-bottom: 0px;
						margin-top: 0px;
						padding-left: 0px;
						padding-top: 0px;
						margin-bottom: 0px;
						width: 110px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .background-image-div  {
		
						color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .Subtitle  ,  .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .Body h2  { 
						font-family: ralewaythin;
						font-size: 22px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .blocks-preview-subtitle  {
		
						margin-bottom: 10px;
						font-size: 16px;
						margin-top: 10px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: top;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-price  {
		
						font-family: Arial;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-item-links span:hover  ,  .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .subtitle-holder  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .blocks-preview-title  {
		
						margin-bottom: 10px;
						margin-top: 10px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-body  {
		
						line-height: 1.4em;
						font-size: 12px;
						color: rgb(158, 158, 158);
						max-width: 500px;
						margin-right: 0px;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-subtitle  ,  .style-a51c3b84-cuaumpv8 .style-7cb1796e-zau6rqxu .preview-body h2  { 
						font-family: Arial;
						font-size: 10px;
						text-transform: uppercase;
						color: rgb(236, 236, 236);
						letter-spacing: 0.35em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						line-height: 1.4em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





























/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-a51c3b84-i2pahsbz
 *                                 	 
 ******************************************************************************************************/
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .background-div  {
			
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .preview-title  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .preview-body h1  { 
						line-height: 1.0em;
						font-size: 56px;
						color: rgb(255, 255, 255);
						letter-spacing: -0.05em;
						margin-top: 15px;
						font-family: Montserrat;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz  .preview-content-wrapper  {
		
						text-align: center;
						vertical-align: middle;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz  .preview-content-holder  {
		
						text-align: center;
						max-width: 850px;
						margin-right: 0px;
						margin-top: 40px;
						margin-left: 0px;
						margin-bottom: 40px;
						border-color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .preview-item-links span  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz #sr-basket-widget *  { 
						font-size: 14px;
						color: rgb(255, 255, 255);
						padding-bottom: 15px;
						border-color: rgb(221, 221, 221);
						letter-spacing: 0.1em;
						padding-right: 30px;
						margin-top: 30px;
						padding-left: 30px;
						border-radius: 0px;
						padding-top: 15px;
						margin-bottom: 30px;
						font-family: Montserrat;
						background-color: rgb(241, 142, 67);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .background-image-div  {
		
						color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .preview-item-links span:before  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .effect-tester  { 
						background-color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .preview-item-links span:hover  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgb(241, 142, 67);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .stripe-background  {
		
						opacity: 0.32;
		    			-webkit-filter: grayscale(100%) brightness(0.6);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .preview-element.icon-source  {
		
						margin-bottom: 15px;
						margin-top: 25px;
						width: 70px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .inner-pic  {
		
						opacity: 0.16;
						color: rgb(255, 255, 255);
		    			-webkit-filter: brightness(0.6);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .preview-body  {
		
						line-height: 1.3em;
						font-size: 12px;
						color: rgb(202, 202, 202);
						letter-spacing: 0.0em;
						max-width: 500px;
						margin-top: 15px;
						margin-bottom: 5px;
						font-family: Arial;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .middle_layout .helper-div  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .preview-subtitle  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-i2pahsbz .preview-body h2  { 
						font-family: Arial;
						font-size: 16px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.05em;
						margin-right: 0px;
						margin-top: 15px;
						margin-left: 0px;
						line-height: 1.1em;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/














 .style-a51c3b84-i2pahsbz #vbid-a51c3b84-qb3oou2e.inner-pic{
				
							background-position : 49.3730392456055% 38.91455078125%;
					
				} .style-a51c3b84-i2pahsbz #vbid-a51c3b84-xflfhiba.inner-pic{
				
							background-position : 33.1640548706055% 34.9541282653809%;
					
				}







/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-a51c3b84-8ecmbevw
 *                                 	 
 ******************************************************************************************************/
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-item-links span:hover  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-element.Link.hover-tester  { 
						color: rgb(0, 0, 0);
						background-color: rgba(147, 147, 147, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw.master.item-box   {
		
						padding-left: 6%;
						width: 88%;
						padding-right: 6%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-item-links  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						margin-right: 10px;
						margin-top: 10px;
						margin-left: 10px;
						margin-bottom: 10px;
						background-color: rgba(248, 248, 248, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-item-links span  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw #sr-basket-widget *  { 
						font-size: 12px;
						color: rgb(202, 202, 202);
						padding-bottom: 20px;
						border-color: rgb(246, 246, 246);
						letter-spacing: 0em;
						max-width: 1150px;
						padding-right: 10px;
						padding-left: 10px;
						padding-top: 20px;
						font-family: Arial;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-title  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-body h1  { 
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.0em;
						margin-right: 5px;
						margin-top: 30px;
						margin-left: 5px;
						font-family: Montserrat;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-subtitle-holder  {
		
						text-align: left;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .stripe-background  {
		
						margin-left: -6%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-element.icon-source  {
		
						margin-top: 25px;
						width: 60px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw  .preview-content-wrapper  {
		
						vertical-align: bottom;
						text-align: left;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .middle_layout .helper-div  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-subtitle  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-8ecmbevw .preview-body h2  { 
						font-size: 12px;
						color: rgb(0, 0, 0);
						letter-spacing: 0.1em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 10px;
						font-family: Arial;	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/


















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-a019e265-x9qfeszz
 *                                 	 
 ******************************************************************************************************/
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .title-holder  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .Title  ,  .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .Body h1  { 
						color: #8a7373;
						letter-spacing: 0.15em;
						font-family: open-sans;
						font-size: 36px;
						font-weight: bold;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz  .preview-content-holder  {
		
						margin-right: 0px;
						padding-bottom: 0px;
						text-align: left;
						max-width: 400px;
						padding-right: 0px;
						margin-top: 0px;
						margin-left: 0px;
						padding-top: 0px;
						margin-bottom: 0px;
						background-color: rgba(0, 0, 0, 0);
						padding-left: 0px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-body  {
		
						line-height: 1.5em;
						font-size: 12px;
						color: rgb(255, 255, 255);
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .item-content:not(.blocks_layout)  {
		
						opacity: rgba(0, 0, 0, 0);
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .inner-pic  {
		
						opacity: 1;
						color: rgb(255, 255, 255);
		    			-webkit-filter:none;filter:none;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz #pagination-holder  {
		
						font-style: italic;
						font-size: 17px;
						color: rgb(76, 76, 76);
						padding-bottom: 5px;
						border-color: rgb(85, 85, 85);
						border-width: 1px;
						padding-right: 15px;
						padding-left: 15px;
						padding-top: 5px;
						margin-bottom: 40px;
						font-family: 'Times New Roman';	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: 0%;	
		}
	
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-item-links .Link:hover  {
		
						color: rgb(74, 74, 74);
						background-color: rgb(216, 216, 216);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .multi_layout .helper-div.middle-center  {
		
						padding-left: 0%;
						width: 100%;
						padding-right: 0%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .background-div  {
			
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-title  ,  .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-body h1  { 
						font-family: Raleway;
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.05em;
						margin-top: 10px;
						margin-bottom: 5px;
						line-height: 1.1em;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz.master.item-box   {
		
						padding-left: 6%;
						padding-right: 6%;
						width: 88%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-item-links span  ,  .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz #sr-basket-widget *  { 
						font-family: Arial;
						font-size: 10px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						border-color: rgb(255, 255, 255);
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 10px;
						padding-left: 15px;
						border-radius: 16px;
						padding-top: 10px;
						margin-bottom: 10px;
						border-width: 0px;
						background-color: rgb(128, 128, 128);	
		}
	
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-subtitle-holder  {
		
						max-width: 800px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .stripe-background  {
		
						opacity: 0.46;
		    			-webkit-filter: grayscale(100%) brightness(0.8);
						margin-top: -40px;
						margin-left: -6%;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						width: 40px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-content-holder  {
		
						margin-right: 0px;
						text-align: center;
						margin-top: 0px;
						margin-left: 0px;
						margin-bottom: 0px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .background-image-div  {
		
						color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .Subtitle  ,  .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .Body h2  { 
						font-family: ralewaythin;
						font-size: 22px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-subtitle  {
		
						line-height: 1.4em;
						font-size: 14px;
						color: rgb(239, 239, 239);
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Raleway;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-item-links span:before  ,  .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .effect-tester  { 
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz  .preview-content-wrapper  {
		
						text-align: left;
						vertical-align: top;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-price  {
		
						font-family: Arial;	
		}
	
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-body-holder  {
		
						max-width: 800px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-item-links span:hover  ,  .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgb(74, 74, 74);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .subtitle-holder  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .inner-pic-holder  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-divider  {
		
						color: rgb(255, 255, 255);
						border-bottom-width: 1px;
						border-color: rgb(255, 255, 255);
						width: 45%;	
		}
	
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-icon-holder .icon-source  {
		
						color: rgb(255, 255, 255);
						width: 70px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-title  {
		
						font-size: 20px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0.05em;
						margin-top: 10px;
						margin-bottom: 10px;
						font-family: Montserrat;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-body  {
		
						line-height: 1.5em;
						font-size: 12px;
						color: rgb(170, 170, 170);
						max-width: 500px;
						margin-right: 0px;
						margin-top: 10px;
						margin-left: 0px;
						margin-bottom: 10px;
						font-family: Arial;	
		}
	
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .blocks-preview-item-links .Link  {
		
						font-size: 15px;
						color: rgb(216, 216, 216);
						padding-bottom: 5px;
						border-color: rgb(216, 216, 216);
						padding-right: 15px;
						margin-top: 10px;
						padding-left: 15px;
						border-radius: 20px;
						padding-top: 5px;
						margin-bottom: 10px;
						border-width: 2px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-subtitle  ,  .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .preview-body h2  { 
						font-family: Raleway;
						font-size: 12px;
						color: rgb(170, 170, 170);
						letter-spacing: 0em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .middle_layout .helper-div  ,  .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .pic-side:after  ,  .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .item-effect-tester  ,  .style-a51c3b84-cuaumpv8 .style-a019e265-x9qfeszz .sub.item-box:after  { 
						background-color: rgb(255, 255, 255);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





 .style-a019e265-x9qfeszz #vbid-a019e265-z0lpcua2.inner-pic{
				
							background-position : 50% 22.7586212158203%;
					
				} .style-a019e265-x9qfeszz #vbid-a019e265-rrjaaw1p.inner-pic{
				
							background-position : 45.5172424316406% 0%;
					
				} .style-a019e265-x9qfeszz #vbid-a019e265-kzaclw5d.inner-pic{
				
							background-position : 50.3448257446289% 5.51724147796631%;
					
				}




































/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-a51c3b84-otaoazej
 *                                 	 
 ******************************************************************************************************/
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .background-div  {
		
						color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej.master.item-box   {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .background-image-div  {
		
						color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-link-img  {
		
						width: 30px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej  .preview-content-holder  {
		
						margin-right: 30px;
						text-align: center;
						background-color: rgba(121, 133, 149, 0);
						margin-left: 30px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-item-links span  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej #sr-basket-widget *  { 
						color: #ffffff;
						font-family: Arial;
						font-size: 13px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-title  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-body h1  { 
						font-size: 12px;
						text-transform: uppercase;
						color: rgb(255, 255, 255);
						letter-spacing: 0em;
						margin-top: 25px;
						margin-bottom: 5px;
						font-family: Montserrat;
						background-color: rgba(11, 11, 11, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-social-holder  {
		
						margin-bottom: 10px;
						margin-top: 20px;
						margin-right: 20px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-title-holder  {
		
						text-align: left;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-social-wrapper  {
		
						text-align: right;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-body-holder  {
		
						text-align: left;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .inner-pic  {
		
						color: rgb(255, 255, 255);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-body  {
		
						color: rgb(104, 104, 104);
						margin-bottom: 40px;
						font-size: 14px;
						background-color: rgba(255, 255, 255, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-element.icon-source  {
		
						color: rgb(255, 255, 255);
						padding-right: 20px;
						padding-left: 20px;
						width: 60px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .stripe-background  {
		
						margin-top: -15px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .middle_layout .helper-div  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-subtitle  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-otaoazej .preview-body h2  { 
						line-height: 1.5em;
						font-size: 12px;
						color: rgb(142, 142, 142);
						margin-right: 0px;
						margin-left: 0px;
						margin-bottom: 20px;
						font-family: Arial;
						background-color: rgba(0, 0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/






















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-a51c3b84-ecir2nng
 *                                 	 
 ******************************************************************************************************/
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng.master.item-box   {
		
						background-color: transparent;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-title  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-body h1  { 
						font-size: 30px;
						color: rgb(255, 255, 255);
						letter-spacing: 0.1em;
						margin-bottom: 10px;
						font-family: open-sans;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng  .preview-content-holder  {
		
						text-align: center;
						max-width: 1000px;
						margin-right: 30px;
						margin-top: 20px;
						margin-left: 30px;
						margin-bottom: 20px;
						background-color: rgba(0, 0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-item-links span  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng #sr-basket-widget *  { 
						font-style: italic;
						font-size: 16px;
						color: rgb(255, 255, 255);
						padding-bottom: 10px;
						border-color: rgb(221, 221, 221);
						letter-spacing: 0.1em;
						padding-right: 20px;
						margin-top: 30px;
						padding-left: 20px;
						padding-top: 10px;
						font-family: Times New Roman;
						background-color: rgb(159, 14, 14);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-item-links span:hover  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .item-content:not(.blocks_layout)  {
		
						background-color: rgb(0, 0, 0);	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-body-holder  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-subtitle-holder  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-body  {
		
						line-height: 1.4em;
						font-size: 12px;
						color: rgb(64, 64, 64);
						letter-spacing: -0.0em;
						max-width: 800px;
						font-family: Arial;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-element.icon-source  {
		
						margin-bottom: 25px;
						width: 70px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng  .preview-content-wrapper  {
		
						text-align: center;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-subtitle  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .preview-body h2  { 
						line-height: 1.4em;
						font-size: 12px;
						color: rgb(184, 184, 184);
						letter-spacing: 0em;
						margin-right: 0px;
						margin-top: 5px;
						margin-left: 0px;
						font-family: Arial;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .middle_layout .helper-div  ,  .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1050px;	
		}
	 .style-a51c3b84-cuaumpv8 .style-a51c3b84-ecir2nng .background-div  {
		
						color: rgb(255, 255, 255);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/

















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-a51c3b84-cuaumpv8
 *                                 	 
 ******************************************************************************************************/
	 .master .style-a51c3b84-cuaumpv8 .Body  {
		
						font-size: 12px;
						max-width: 650px;
						margin-right: 20px;
						margin-left: 20px;
						margin-bottom: 10px;
						line-height: 1.4em;	
		}
	 .master .style-a51c3b84-cuaumpv8 .Subtitle  ,  .master .style-a51c3b84-cuaumpv8 .Body h2  { 
						font-size: 15px;
						color: rgb(110, 110, 110);
						max-width: 650px;
						letter-spacing: 0.1em;
						margin-right: 20px;
						margin-top: 15px;
						margin-left: 20px;
						margin-bottom: 15px;
						font-family: Arial;	
		}
	 .master .style-a51c3b84-cuaumpv8 .quote-holder  {
		
						margin-bottom: 45px;
						margin-top: 35px;	
		}
	 .master .style-a51c3b84-cuaumpv8 .Title  ,  .master .style-a51c3b84-cuaumpv8 .Body h1  { 
						font-size: 22px;
						color: rgb(0, 0, 0);
						max-width: 650px;
						letter-spacing: 0.05em;
						margin-right: 20px;
						margin-top: 30px;
						margin-left: 20px;
						font-family: Montserrat;	
		}
	 .master .style-a51c3b84-cuaumpv8 .link-wrapper  {
		
						max-width: 1058px;	
		}
	 .master .style-a51c3b84-cuaumpv8 .Quote  {
		
						margin-right: 50px;
						font-family: 'Times New Roman';
						font-size: 19px;
						margin-left: 50px;
						font-style: italic;	
		}
	
	 .master .style-a51c3b84-cuaumpv8 .quote-author  {
		
						font-style: italic;
						font-size: 19px;
						color: rgb(124, 124, 124);
						margin-right: 50px;
						margin-top: 10px;
						margin-left: 50px;
						font-family: 'Times New Roman';	
		}
	 .master .style-a51c3b84-cuaumpv8 .title-wrapper  {
		
						max-width: 1180px;	
		}
	 .master .style-a51c3b84-cuaumpv8 .item-links span  {
		
						border-width: 1px;
						font-size: 13px;
						color: rgb(0, 0, 0);
						padding-bottom: 10px;
						letter-spacing: 0.1em;
						padding-right: 15px;
						margin-top: 20px;
						padding-left: 15px;
						padding-top: 10px;
						margin-bottom: 20px;
						font-family: Arial;
						background-color: rgba(66, 117, 83, 0);
						margin-left: 50px;	
		}
	 .master .style-a51c3b84-cuaumpv8 .subtitle-wrapper  {
		
						max-width: 1180px;	
		}
	 .master .style-a51c3b84-cuaumpv8 .body-wrapper  {
		
						max-width: 1032px;	
		}
	 .style-a51c3b84-cuaumpv8.master.container > #children  {
		
						background-color: rgb(0, 0, 0);	
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
