/******************************************************************************************************
 *                                              STRIPE DATA STYLE
 *                                 	 
 ******************************************************************************************************/

 
 #vbid-a51c3b84-aauk7euo   {
	background-position: 54.0358734130859% 100%;
}
 
 #vbid-a51c3b84-y3dxluyn.master.item-box    {
	padding-bottom: 15px;
	min-height: 57px;
} 
 #vbid-a51c3b84-y3dxluyn.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a51c3b84-bp0xhuco   {
	background-position: 56.0606079101563% 100%;
}
 
 #vbid-a51c3b84-tujdw2a1   {
	background-position: 48.4326019287109% 71.0374603271484%;
}
 
 #vbid-a51c3b84-gcwdhqsl   {
	background-position: 36.0986557006836% 48.3706703186035%;
}
 
 #vbid-a51c3b84-jnhuqr1a   {
	background-position: 47.1786842346191% 24.0303535461426%;
}

 
 #vbid-a51c3b84-td4mro6x   {
	background-position: 53.9237670898438% 51.5926666259766%;
}
 
 #vbid-a51c3b84-053l6jx4   {
	background-position: 12.0986547470093% 42.2062797546387%;
}
 
 #vbid-a019e265-7oafsb2p.master.item-box    {
	padding-top: 40px;
	padding-bottom: 35px;
} 
 #vbid-a019e265-7oafsb2p.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a51c3b84-qfg8y0sq   {
	background-position: 48.6415901184082% 18.5064926147461%;
}
 
 #vbid-a51c3b84-msm2dmoc   {
	background-position: 45.6293716430664% 22.344690322876%;
}
 
 #vbid-a51c3b84-xol5jdgy   {
	background-position: 51.7937202453613% 11.3861389160156%;
}
 
 #vbid-a51c3b84-1mbfcjxf.master.item-box    {
	min-height: 699px;
}
 
 #vbid-a51c3b84-c4v4o5vt   {
	background-position: 51.9258079528809% 44.8459205627441%;
}
 
 #vbid-a51c3b84-pmrgmmxb.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 269px;
} 
 #vbid-a51c3b84-pmrgmmxb.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a51c3b84-0nyn2x2s.master.item-box    {
	min-height: 231px;
}
 
 #vbid-a51c3b84-la4ivhvr   {
	background-position: 54.0752334594727% 91.5584411621094%;
}
 
 #vbid-a51c3b84-u72kvwv9.master.item-box    {
} 
 #vbid-a51c3b84-u72kvwv9.master.item-box    {
	min-height: 526px;
}
 
 #vbid-a51c3b84-x6vllepb   {
	background-position: 44.2089881896973% 48.3110046386719%;
}
 
 #vbid-a51c3b84-ljofyz28.master.item-box    {
	padding-top: 15px;
}
 
 #vbid-a51c3b84-zzsxctiq   {
	background-position: 48.2062797546387% 23.9910316467285%;
}
 
 #vbid-7cb1796e-21vod6n3.master.item-box    {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 114px;
} 
 #vbid-7cb1796e-21vod6n3.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a51c3b84-hq2as1gh.master.item-box    {
	padding-bottom: 0px;
	min-height: 883px;
} 
 #vbid-a51c3b84-hq2as1gh.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a51c3b84-njxapvgr   {
	background-position: 45.8202705383301% 18.2215747833252%;
}
 
 #vbid-a51c3b84-ppy3yjah   {
	background-position: 50.5673980712891% 54.6576156616211%;
}
 
 #vbid-a51c3b84-vhi1lu8w   {
	background-position: 46.8652038574219% 29.8373985290527%;
}
 
 #vbid-a51c3b84-vekczd4w   {
	background-position: 49.8955078125% 0.613496959209442%;
}
 
 #vbid-a51c3b84-mf9bf0nj   {
	background-position: 48.9550666809082% 9.16230392456055%;
}
 
 #vbid-a51c3b84-kyylus0a   {
	background-position: 46.5517234802246% 16.4723033905029%;
}
 
 #vbid-a51c3b84-isxn8gcu   {
	background-position: 47.9101371765137% 31.5561962127686%;
}
 
 #vbid-a51c3b84-3twf0j2d   {
	background-position: 46.5517234802246% 11.5160350799561%;
}
 
 #vbid-a51c3b84-xabsbhnk   {
	background-position: 23.3408069610596% 0%;
}
 
 #vbid-a51c3b84-pdwcufc1   {
	background-position: 48.6415901184082% 26.6233768463135%;
}
 
 #vbid-a51c3b84-dbqcp3vy   {
	background-position: 43.6865196228027% 53.7792205810547%;
}
 
 #vbid-a51c3b84-ngeb5zfx   {
	background-position: 51.3452911376953% 16.8316841125488%;
}
 
 #vbid-a51c3b84-dthhxbbi.master.item-box    {
	min-height: 603px;
}
 
 #vbid-a51c3b84-zlsqmmz9.master.item-box    {
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 299px;
} 
 #vbid-a51c3b84-zlsqmmz9.item-box > .item-wrapper    {
	max-width: 1000px;
}
 
 #vbid-a51c3b84-p4jibsaa.master.item-box    {
	padding-top: 30px;
	padding-bottom: 5px;
	min-height: 92px;
} 
 #vbid-a51c3b84-p4jibsaa.item-box > .item-wrapper    {
	max-width: 320px;
}
 
 #vbid-a51c3b84-uuuwmvov   {
	background-position: 41.9580421447754% 0%;
}
 
 #vbid-a51c3b84-crjajndo   {
	background-position: 46.9696960449219% 89.3939361572266%;
}
 
 #vbid-a51c3b84-a9xnihju   {
	background-position: 46.8609848022461% 26.2973518371582%;
}
 
 #vbid-a51c3b84-4krbdct8.master.item-box    {
	min-height: 773px;
}
 
 #vbid-a51c3b84-chqghuii   {
	background-position: 50% 31.2688827514648%;
}